body {
  background-color:grey;
}
h1{
  color:#66BFBF;
}
h3{
  color:#66BFBF;
}
hr {
  background-color: black;
  border-style:none;
  border-top-style:dotted;
  border-color: white;
  border-width: 5px;
  height: 0px;
  width: 10%;

}
